<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pollingInterval" value="10"/> <!-- polling interval in seconds, interval for scanning changes to the task execution logfile -->
    <add key="logfilePath" value="C:\ProgramData\Qlik\Sense\Log\Scheduler\Trace"/>
    <add key="logfileName" value="WIN-D4DTURLUNVR_TaskExecution_Scheduler.txt"/>
    <add key="smtpServer" value="email-smtp.us-west-2.amazonaws.com"/>
    <add key="senderAddress" value="artlee@qlik-us.mpay.samsung.com"/>
    <add key="senderDisplayName" value ="Scheduler on qlik-us.mpay.samsung.com"/>
    <add key="emailSubject" value="ERROR: Task Execution failed on HOSTNAME"/>
    <add key="recipientAddresses" value="arthur.l@samsung.com"/><!-- add email addresses of recipents, multiple recipients separated by semicolons -->
  </appSettings>
</configuration>
